<h1>Create a new Landmark</h1>

<form method="POST" action="/landmarks">
	<input type="text" placeholder="Name" name="landmark[name]" id="landmark_name">
	<input type="number" placeholder="Year Completed" name="landmark[year_completed]" id="landmark_year_completed">
	<input type="submit" id="submit" value="Create New Landmark">

</form>